body, h1, h2, h3, h4, h5, h6, p, ul, li, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ed1b1b;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CSS untuk header */
header {
    background-image: url('image/Background 1.jpeg');
    background-color: #333;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    padding: 10px;
}

.header p {
    margin: 0;
    padding: 5px;
}

.foto-profil {
    text-align: center;
}

.foto-profil img {
    border-radius: 50%;
    margin-top: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: brown;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 60%;
    margin-right: 10px;
    background-color:#ffffff;
    color:#333333 ;
    border: 1px solid #cccccc;
}

button {
    padding: 8px 12px;
    background-color: #337ab7;
    color:black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #286090;
}

ul {
    list-style-type: none;
}

ul li {
    color: #333333; /* Warna tulisan yang diperbarui */
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li:hover {
    background-color: #e9e9e9; 
}

ul li small {
    color: #888;
}

.logout-button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 12px;
    background-color: #d9534f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: #c9302c;
}
